<div class='container'>
     <div class='window'>
       <div class='order-info'>
         <div class='order-info-content'>
           <h2>Order Summary</h2>
                   <div class='line'></div>
           <table class='order-table'>
             <tbody *ngfor="let x of listofpro">
               <tr>
                 <td><img src='https://dl.dropboxusercontent.com/s/sim84r2xfedj99n/%24_32.JPG' class='full-width'>
                 </td>
                 <td>
                   <br> <span class='thin'>{{x.productName}}</span>
                   <br> Free Run 3.0 Women<br> <span class='thin small'> Color: Grey/Orange, Size: 10.5<br><br></span>
                 </td>
               </tr>

               <tr>
                 <td>
                   <div class='price'>$99.95</div>
                 </td>
               </tr>
             </tbody>
   
           </table>
           <div class='line'></div>
           <table class='order-table'>
             <tbody>
               <tr>
                 <td><img src='https://dl.dropboxusercontent.com/s/qbj9tsbvthqq72c/Vintage-20L-Backpack-by-Fj%C3%A4llr%C3%A4ven.jpg' class='full-width'>
                 </td>
                 <td>
                   <br> <span class='thin'>Fjällräven</span>
                   <br>Vintage Backpack<br> <span class='thin small'> Color: Olive, Size: 20L</span>
                 </td>
               </tr>
               <tr>
                 <td>
                   <div class='price'>$235.95</div>
                 </td>
               </tr>
             </tbody>
           </table>
           <div class='line'></div>
           <table class='order-table'>
             <tbody>
               <tr>
                 <td><img src='https://dl.dropboxusercontent.com/s/nbr4koso8dpoggs/6136C1p5FjL._SL1500_.jpg' class='full-width'>
                 </td>
                 <td>
                   <br> <span class='thin'>Monobento</span>
                   <br>Double Lunchbox<br> <span class='thin small'> Color: Pink, Size: Medium</span>
                 </td>
   
               </tr>
               <tr>
                 <td>
                   <div class='price'>$25.95</div>
                 </td>
               </tr>
             </tbody>
           </table>
           <div class='line'></div>
           <div class='total'>
             <span style='float:left;'>
               <div class='thin dense'>VAT 19%</div>
               <div class='thin dense'>Delivery</div>
               TOTAL
             </span>
             <span style='float:right; text-align:right;'>
               <div class='thin dense'>$68.75</div>
               <div class='thin dense'>$4.95</div>
               $435.55
             </span>
           </div>
   </div>
   </div>
           <div class='credit-info'>
             <div class='credit-info-content'>
               <table class='half-input-table'>
                 <tr><td>Please select your card:</tr>  <select id="inputState" class="form-select">
                    <option selected disabled>Choose...</option>
                    <option>Cash</option>
                    <option>Master Card</option>
                    <option>VISA</option>
                    <option>Net Banking</option>
                  </select>
               </table>
               <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'>
               Card Number
               <input class='input-field'>
               Card Holder
               <input class='input-field'>
               <table class='half-input-table'>
                 <tr>
                   <td> Expires
                     <input class='input-field'>
                   </td>
                   <td>CVC
                     <input class='input-field'>
                   </td>
                 </tr>
               </table>
               <button class='pay-btn'>Checkout</button>
   
             </div>
   
           </div>
         </div>
   </div>