<body style="margin: -8px;">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="txt" placeholder="User name" required="">
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<button>Sign up</button>
			</form>
		</div>

		<div class="login">
			<form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>

				<label for="chk" aria-hidden="true">Login</label>
				<input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
					[ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email pattern="Admin@gmail.com">
				<div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
					<div style="text-align: center;margin-top: -20px;" *ngIf="email.errors">Email is required</div>
				</div>

				
				<input type="password" name="password" class="form-control" [(ngModel)]="model.password"
				#password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required pattern="Admin" >
			<div *ngIf="f.submitted && password.invalid" class="invalid-feedback" >
				<div style="text-align: center;margin-top: -20px;" *ngIf="password.errors">Password is required</div>
				
			</div>
				<button class="btn btn-primary mr-1">Login</button>
				<button type="button" class="btn btn-outline-primary">forgot Password</button>
			</form>
		</div>
	</div>
</body>