

// body{
// 	margin:0;
// 	color:#6a6f8c;
// 	background:#c8c8c8;
// 	font:600 16px/18px 'Open Sans',sans-serif;
// }
// *,:after,:before{box-sizing:border-box}
// .clearfix:after,.clearfix:before{content:'';display:table}
// .clearfix:after{clear:both;display:block}
// a{color:inherit;text-decoration:none}

// .login-wrap{
// 	width:100%;
// 	margin:auto;
	
// 	max-width:525px;
// 	min-height:820px;
// 	position:relative;
// 	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
// 	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
// }
// .login-html{
// 	width:100%;
// 	height:100%;
// 	position:absolute;
// 	padding:20px 70px 50px 70px;
// 	background:rgba(40,57,101,.9);
// }
// .login-html .sign-in-htm,
// .login-html .sign-up-htm{
// 	top:0;
// 	left:0;
// 	right:0;
// 	bottom:0;
// 	position:absolute;
// 	transform:rotateY(180deg);
// 	backface-visibility:hidden;
// 	transition:all .4s linear;
// }
// .login-html .sign-in,
// .login-html .sign-up,
// .login-form .group .check{
// 	display:none;
// }
// .login-html .tab,
// .login-form .group .label,
// .login-form .group .button{
// 	text-transform:uppercase;
// }
// .login-html .tab{
// 	font-size:22px;
// 	margin-right:15px;
// 	padding-bottom:5px;
// 	margin:0 15px 10px 0;
// 	display:inline-block;
// 	border-bottom:2px solid transparent;
// }
// .login-html .sign-in:checked + .tab,
// .login-html .sign-up:checked + .tab{
// 	color:#fff;
// 	border-color:#1161ee;
// }
// .login-form{
// 	min-height:345px;
// 	position:relative;
// 	perspective:1000px;
// 	transform-style:preserve-3d;
// }
// .login-form .group{
// 	margin-bottom:15px;
// }
// .login-form .group .label,
// .login-form .group .input,
// .login-form .group .button{
// 	width:100%;
// 	color:#fff;
// 	display:block;
// }
// .login-form .group .input,
// .login-form .group .button{
// 	border:none;
// 	padding:15px 20px;
// 	border-radius:25px;
// 	background:rgba(255,255,255,.1);
// }
// .login-form .group input[data-type="password"]{
// 	text-security:circle;
// 	-webkit-text-security:circle;
// }
// .login-form .group .label{
// 	color:#aaa;
// 	font-size:12px;
// }
// .login-form .group .button{
// 	background:#1161ee;
// }
// .login-form .group label .icon{
// 	width:15px;
// 	height:15px;
// 	border-radius:2px;
// 	position:relative;
// 	display:inline-block;
// 	background:rgba(255,255,255,.1);
// }
// .login-form .group label .icon:before,
// .login-form .group label .icon:after{
// 	content:'';
// 	width:10px;
// 	height:2px;
// 	background:#fff;
// 	position:absolute;
// 	transition:all .2s ease-in-out 0s;
// }
// .login-form .group label .icon:before{
// 	left:3px;
// 	width:5px;
// 	bottom:6px;
// 	transform:scale(0) rotate(0);
// }
// .login-form .group label .icon:after{
// 	top:6px;
// 	right:0;
// 	transform:scale(0) rotate(0);
// }
// .login-form .group .check:checked + label{
// 	color:#fff;
// }
// .login-form .group .check:checked + label .icon{
// 	background:#1161ee;
// }
// .login-form .group .check:checked + label .icon:before{
// 	transform:scale(1) rotate(45deg);
// }
// .login-form .group .check:checked + label .icon:after{
// 	transform:scale(1) rotate(-45deg);
// }
// .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
// 	transform:rotate(0);
// }
// .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
// 	transform:rotate(0);
// }


// .foot-lnk{
// 	text-align:center;
// }

// .le{
//      font-size: 300px;
// }

// .g1{
//      color: black;
//      font-style: oblique;

// }

// input::-webkit-outer-spin-button,
//         input::-webkit-inner-spin-button {
//                -webkit-appearance: none;
//                 margin: 0;
//         }
 
//         input[type=number] {
//             -moz-appearance: textfield;
//         }


// // .log{
// // 	margin: auto;
// // }
.card{
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 110vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 700px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;

	position: relative;	
	
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 500px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 200px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 380px;
	padding: 30px;
	padding-top: 16px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.form-group  {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.form-group:active,
.form-group:focus,
.form-group:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}