<app-navbar></app-navbar>
<div class="card">
  <div class="card-body">

    <div class="card">
      <div class="card-body">

        <div class="card mb-3" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-4 " *ngFor="let x of mobilelist">
              <img [src]="x.Imgurl" height="fit-content" width="100%" class="card-img-top" alt="...">

            </div>
            <div class="col-md-8">
              <div class="card-body" *ngFor="let x of mobilelist">
                <h2 style="text-transform: capitalize;">{{x.productName}}</h2>
                <br>
                <div style="text-align: center;">
                  <p style="background-color: #388E3C;width: 50px;color: aliceblue;border-radius: 10px;">
                    <b>{{x.rating}}</b><i class="fa fa-star" style="color: white;text-align: center;margin-left: 5px; "
                      aria-hidden="true"></i>
                  </p>
                </div>
                <h5 style="color: #388E3C;"> Extra ₹7901 off</h5>

                <p class="card-text">{{x.productDesc}}</p>
                <h3><b>{{x.price | currency:'INR':true}}</b></h3>
                <div>
                  <h6>+ ₹99 Secured Packaging Fee</h6>
                  <button type="button" class="btn btn-outline-warning" style="margin: auto;" (click)="addtocart(x)">ADD TO CART</button>
                  
                  <h4>Available offers</h4>
                  <i class="fa fa-tags" aria-hidden="true" style="color: #15BD49;"></i><b> Bank Offer</b>5% Cashback on
                  Flipkart Axis Bank CardT&C <br>
                  <i class="fa fa-tags" aria-hidden="true" style="color: #15BD49;"></i><b> Bank Offer</b>₹2000 Off On
                  HDFC Bank Debit Card EMI TransactionsT&C <br>
                  <i class="fa fa-tags" aria-hidden="true" style="color: #15BD49;"></i><b> Bank Offer</b> ₹2000 Off On
                  HDFC Bank Credit Card TransactionsT&C <br>
                  <i class="fa fa-tags" aria-hidden="true" style="color: #15BD49;"></i><b> Special Price</b>Get extra
                  ₹7901 off (price inclusive of cashback/coupon)T&C <br>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">

              <h3>Specifications</h3>
              <hr>
              <div class="row">
                <div class="col-md-5">
                  <p><b>In The Box</b></p>
                  <p><b>Model Number</b></p>
                  <p><b>Model Name</b></p>
                  <br>
                  <p><b>Color</b></p>
                  <p><b>Browse Type</b></p>
                  <p><b>SIM Type</b></p>
                  <p><b>Hybrid Sim Slot</b></p>
                  <p><b>Touchscreen</b></p>
                  <p><b>OTG Compatible</b></p>
                </div>
                <div  *ngFor="let x of mobilelist" class="col-md-7">
                  <p>USB-C to Lightning Cable</p>
                  <p>MLPG3HN/A</p>
                  <p>{{x.productName}}</p>
                  <p>{{x.color}}</p>
                  <p>Smartphones</p>
                  <p>Dual Sim</p>
                  <p>No</p>
                  <p>Yes</p>
                  <p>Yes</p>
                </div>

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">



            </div>
          </div>
          <div class="col">
            <div class="card">



            </div>
          </div>

        </div>

      </div>
    </div>



  </div>
</div>